<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>602565405824-dsdc6np2uf8sqg5om751b7iliuvteii8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.602565405824-dsdc6np2uf8sqg5om751b7iliuvteii8</string>
	<key>API_KEY</key>
	<string>AIzaSyAiwoAkYYhx_s_XJWbhpjnaSGbLyKzy0l4</string>
	<key>GCM_SENDER_ID</key>
	<string>602565405824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectFinal</string>
	<key>PROJECT_ID</key>
	<string>aplikasi-5b892</string>
	<key>STORAGE_BUCKET</key>
	<string>aplikasi-5b892.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:602565405824:ios:275d4172674dea9cbc4a65</string>
</dict>
</plist>